<header class="header " *ngIf="header">
    <app-header-editor [elemento]="header"></app-header-editor>
    <app-config-editor></app-config-editor>
    <app-help-component></app-help-component>
    <div class="banner">
        <picture>
            <img class="img-banner" src="{{header.imgback}}" alt="">
        </picture>
        <div class="img-credits">Foto de {{header.imgcred}}</div>
    </div>
    <div class="header-data">
        <picture class="personal-picture">
            <img src="{{header.imgpersona}}" alt="">
        </picture>
        <div class="header-info">
            <h3 class="title-info">{{header.nombre}}</h3>
            <p class="about">
                {{header.titulo}}
            </p>
            <div class="description-info" [innerHTML]="header.descripcion">
            </div>
        </div>
    </div>
</header>