<div class="row" [formGroup]="formularioIcono">
    <div class="col-1">
        <label class="col-form-label">Icono</label>
        <i class="fa fa-2x {{valor}}"></i>
    </div>
    <div class="col-3" role="dialog" tabindex="-1">
        <label for="cssclass" class="col-form-label">Css FontAwesome</label>
        <input class="form-control" type="text" id="cssclass" formControlName="cssclass" (input)="modificado($event)">
    </div>
    <div class="col-4">
        <label for="nombre" class="col-form-label">Nombre</label>
        <input class="form-control" id="nombre" type="text" formControlName="nombre" />
    </div>
    <div class="col-2">
        <label for="" class="col-form-label">Ok</label>
        <button class="btn" (click)="saveIcon()">
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
            Aceptar
        </button>
    </div>
</div>

<div>
    <div class="row edtsocial" *ngFor="let icon of socialMedia">
        <div class="col"><i class="fa fa-lg {{icon.cssclass}}"></i></div>
        <div class="col">{{icon.nombre}}</div>
        <div class="col">
            <i class="minibtn fa fa-pencil fa-lg" aria-hidden="true" (click)="editIcon(icon)"></i>
            <i class="minibtn fa fa-trash fa-lg" aria-hidden="true" (click)="eliminarIcon(icon)"></i>
        </div>
    </div>
</div>